body {
    margin: 0;
    padding: 0;
    background: radial-gradient(50% 50% at 50% 50%, #376996 0%, #1D3461 100%);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.loginContendor {
    width: 320px;
    height: auto;
    background: #FFEBEE;
    /*    background: rgba(0,0,0,.8);*/
    color: #1D3461;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;

}

.loginContendor .erroresBox {
    box-shadow: 0 15px 25px rgba(30, 0, 0, .5);
    border-radius: 5px;
    width: auto;
    height: 40px;
    background: #af0032;


}

.clean-gray {
    border: solid 1.5px #cb2026;
    border-radius: 10px;
    background: #f6cbca;
    color: #ce2027;
    padding: 4px;
    text-align: center;
}

.loginContendor .erroresBox p {
    color: #fff;


}


.loginContendor .imagen {
    width: 100px;
    height: 100px;
    
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginContendor h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginContendor .inputBox .icono {
    width: 25px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: calc(90%);
    cursor: pointer;
    

}

.loginContendor .inputBox {
    position: relative;
}

.loginContendor .inputBox input {
    width: 100%;
    padding: 10px 0;

    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #1D3461;
    outline: none;
    background: transparent;
}

.loginContendor .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 15px;
    color: #1D3461;
    pointer-events: none;
    transition: .3s;
}

.loginContendor .inputBox input:focus,
.loginContendor .inputBox input:valid {
    border-bottom: 1px solid #03a9f4;
}

.loginContendor .inputBox input:focus ~ label,
.loginContendor .inputBox input:valid ~ label {
    top: -23px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;

}

/*//HASTA AQUÍ*/
/*.loginContendor input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}*/
.loginContendor input[type="submit"]:hover {
    background: #0683bc;
    color: #ffffff;
}

.loginContendor input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: linear-gradient(0deg, rgba(189, 189, 189, 0.3), rgba(189, 189, 189, 0.3)), linear-gradient(180deg, #1D3461 0%, #376996 100%);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    height: 40px;
    border-radius: 15px;
    width: 100%;

}

.loginContendor a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgray;
}

.loginContendor a:hover {
    color: #fff;
}